$white: hsl(0, 0%, 100%);
$dirtyWhite: hsl(0, 0%, 93%);
$headerBgc: hsl(0, 0%, 91%);
$whiteBlue: hsl(180, 33%, 97%);
$lightBlue: hsl(184, 48%, 75%);
$veryLightBlue: hsl(175, 28%, 65%);
$darkBlue: hsl(177, 11%, 36%);
$gray: hsl(0, 0%, 20%);
$lightDark: hsl(0, 0%, 27%);
